@use "../common/variables.scss";

.button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: variables.$primary-color;
  color: variables.$basic-white;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: variables.$primary-hover-color;
    outline: none;
  }

  &:active {
    background-color: variables.$primary-active-color;
    color: transparentize(variables.$basic-white, 0.7);
  }

  &:disabled {
    background-color: variables.$primary-disabled-color;
    cursor: default;
  }
}
