@use "../common/variables.scss";
@use "../common/mixins.scss";

.form {
  display: grid;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: 1fr 1fr;
    padding: 0 60px 64px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 120px 65px;
  }
}

.form__field-group {
  margin: 0;
  margin-bottom: 49px;
  padding: 0;
  border: 0;

  &:first-child {
    margin-bottom: 48px;

    @media (min-width: variables.$tablet-width) {
      margin-bottom: 46px;
    }

    @media (min-width: variables.$desktop-width) {
      margin-bottom: 48px;
    }
  }
}


.form__field-group--introducing {
  @media (min-width: variables.$tablet-width) {
    margin-right: 28.5px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -60px;
      right: -29px;
      width: 1px;
      height: calc(100% + 50px);
      background-color: variables.$color-delimetr;
    }

    @media (min-width: variables.$desktop-width) {
      &::after {
        right: -50px;
      }
    }
  }

  @media (min-width: variables.$desktop-width) {
    margin-right: 49.5px;
  }
}

.form__field-group--contacts {
  margin-bottom: 43px;

  @media (min-width: variables.$tablet-width) {
    margin-left: 28.5px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-left: 49.5px;
    margin-bottom: 45px;
  }

  .form__label-group {
    position: relative;
  }
}

.form__field-group--impression {
  grid-column: 1/-1;

  @media (min-width: variables.$desktop-width) {
    margin-top: 7px;
    margin-bottom: 77px;
  }

  .form__list {
    @media (min-width: variables.$tablet-width) {
      max-width: 575px;
    }

    @media (min-width: variables.$desktop-width) {
      max-width: 960px;
      padding: 0 53px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 28px;
      margin: 0 auto;
      margin-top: 16px;
      align-items: start;
    }
  }
}

.form__field-group--attractions {
  grid-column: 1/-1;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 43px;
  }

  .form__list {
    @media (min-width: variables.$tablet-width) {
      max-width: 480px;
      grid-column-gap: 32px;
    }

    @media (min-width: variables.$desktop-width) {
      max-width: 960px;
      padding: 0 44px;
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-gap: 16px 64px;
      margin: 32px auto 44px;
      align-items: start;
    }
  }
}

.form__field-group--comment {
  grid-column: 1/-1;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 41px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 43px;
    width: 960px;
  }

  .form__label-group {
    @media (min-width: variables.$tablet-width) {
      display: table;
      margin: 0 auto;
    }
  }

  .form__legend {
    @media (min-width: variables.$desktop-width) {
      margin-bottom: 28px;
    }
  }
}

.form__legend {
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  position: relative;

  @media (min-width: variables.$tablet-width) {
    font-size: 21px;
    margin-bottom: 28px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 26px;
  }

  &::before {
    @media (max-width: variables.$mobile-width-only) {
      content: "";
      position: absolute;
      top: -24px;
      width: 100vw;
      left: -20px;
      height: 1px;
      background-color: variables.$darken-grey-color;
    }
  }

  &:first-of-type::before {
    top: -25px;
  }
}

.form__legend-decoration {
  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &::before {
      content: "";
      position: static;
      display: inline-block;
      width: 123px;
      height: 1px;
      background-color: variables.$color-delimetr;
    }

    &::after {
      content: "";
      position: static;
      display: inline-block;
      width: 123px;
      height: 1px;
      background-color: variables.$color-delimetr;
    }
  }

  @media (min-width: variables.$desktop-width) {
    &::before {
      width: 280px;
    }

    &::after {
      width: 280px;
    }
  }
}

.form__label-group {
  margin: 0;
}

.form__label-group--has-icon::after {
  content: "";
  position: absolute;
  right: 0;
  top: 21px;
  width: 58px;
  height: 58px;
  background-color: variables.$darken-grey-color;
  background-repeat: no-repeat;
  background-position: center;
}

.form__label-group--icon-phone::after {
  background-image: url("../img/icon-phone.svg");
  background-size: 18px 18px;
}

.form__label-group--icon-message::after {
  background-image: url("../img/icon-message.svg");
  background-size: 18px 18px;
}

.form__label {
  display: block;
  margin-left: 16px;
  text-transform: uppercase;
  color: variables.$text-gray;
  position: relative;
}

.form__input {
  width: 100%;
  padding: 0 16px;
  margin-bottom: 16px;
  height: 58px;
  background: variables.$color-field;
  border: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  &::placeholder {
    color: variables.$basic-black;
    opacity: 0.3;
  }

  &:hover {
    background-color: variables.$primary-disabled-color;
  }

  &:focus {
    outline: none;
    border: 4px solid variables.$primary-disabled-color;
    outline-offset: -4px;
    padding-left: 12px;
    background-color: variables.$basic-white;
  }

  &:active {
    outline: none;
    background-color: variables.$basic-white;
    border-color: variables.$primary-disabled-color;
  }
}

.form__input--textarea {
  height: 150px;
  max-width: 768px;
  resize: none;
  padding-top: 16px;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    height: 160px;
    min-width: 648px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 768px;
  }
}

.form__list {
  @include mixins.list-reset;

  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin: 0 auto;
  }
}

.form__item {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 46px;
  cursor: pointer;

  @media (min-width: variables.$desktop-width) {
    padding-left: 0;
  }
}

.form__item:not(:last-child) {
  margin-bottom: 16px;

  @media (min-width: variables.$tablet-width) {
    margin: 0;
  }
}

.form__controls {
  position: relative;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.form__controls--radio {
  display: block;
  padding-top: 9px;
  padding-bottom: 7px;
  padding-left: 62px;
  width: 100%;

  @media (min-width: variables.$desktop-width) {
    width: 280px;
    padding-bottom: 0;
  }

  &:focus::before,
  &:hover::before {
    background-color: variables.$primary-disabled-color;
  }

  &:active::before {
    background-color: variables.$controls-focus-color;
  }
}

.form__controls--radio::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: variables.$color-field;
}

.form__radio[type="radio"]:focus + .form__controls--radio::before {
  background-color: variables.$primary-disabled-color;
}

.form__radio:checked + .form__controls--radio::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: variables.$text-gray;
  border-radius: 50%;
}

.form__radio:checked + .form__controls--radio:active::after {
  opacity: 0.3;
}

.form__controls--checkbox {
  display: block;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 62px;
  width: 100%;

  &:hover::before {
    background-color: variables.$primary-disabled-color;
  }

  &:focus::before,
  &:active::before {
    background-color: variables.$controls-focus-color;
  }
}

.form__controls--checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: variables.$color-field;
}

.form__checkbox:checked + .form__controls--checkbox::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 12px;
  width: 22px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.form__checkbox[type="checkbox"]:focus + .form__controls--checkbox::before {
  background-color: variables.$primary-disabled-color;
}

.form__checkbox:checked + .form__controls--checkbox:active::after {
  opacity: 0.3;
}

.form__button-wrapper {
  grid-column: 1/-1;
  width: 280px;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
    width: 100%;
    max-width: 648px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: 768px;
  }
}

.form__button {
  width: 280px;
  padding: 16px  0;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 3px;

  @media (min-width: variables.$tablet-width) {
    width: 324px;
    margin-bottom: 0;
  }

  @media (min-width: variables.$desktop-width) {
    width: 384px;
  }
}

.form__note {
  margin: 0;
  color: variables.$text-gray;
  opacity: 0.6;
  font-size: 12px;
  text-transform: uppercase;
  text-align: right;

  @media (min-width: variables.$tablet-width) {
    font-size: 14px;
    margin-top: 23px;
  }
}
