@use "../common/variables.scss";

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 33px 18px 22px;
  align-items: center;
  background-color: variables.$basic-white;

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 33px 59px 22px;
  }
}

.main-footer__slogan {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: variables.$basic-black;
}

.main-footer__copyright {
  min-width: 129px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-footer__copyright-text {
  color: variables.$basic-black;
  text-transform: uppercase;
}
