@use "../common/mixins.scss";
@use "../common/variables.scss";

.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  display: block;
  width: 60px;
  height: 56px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.main-nav--closed {
  @media (max-width: variables.$mobile-width-only) {
    .main-nav__wrapper {
      display: none;
    }

    .main-nav__toggle {
      &::before {
        content: "";
        position: absolute;
        top: 16px;
        left: 16px;
        width: 23px;
        height: 4px;
        background-color: variables.$primary-color;
        box-shadow: 0 9px 0 0 variables.$primary-color, 0 18px 0 0 variables.$primary-color;
      }
    }
  }
}

.main-nav--open {
  .main-nav__wrapper {
    display: block;
    position: fixed;
    width: 100%;
  }

  .main-nav__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 25px;
      left: 16px;
      width: 22.9px;
      height: 4px;
      background-color: variables.$basic-white;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.main-nav__list {
  @include mixins.list-reset;
  box-sizing: border-box;
  text-align: center;
  background-color: variables.$primary-color;

  @media (min-width: variables.$tablet-width) {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.main-nav__item {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  width: 100%;
  padding: 17px 0 12px 0;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    box-sizing: border-box;
    width: 20%;
    padding: 19px 0 16px;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
  }

  a {
    color: variables.$basic-white;

    @media (min-width: variables.$tablet-width) {
      color: variables.$basic-black;
      padding: 18px 0;
    }

    &:hover,
    &:focus,
    &:active {
      @media (min-width: variables.$tablet-width) {
        outline: none;
        color: #81b3d2;
        background-color: transparent;
      }
    }
  }

  &:nth-child(4n + 2) {
    @media (min-width: variables.$tablet-width) {
      margin-right: 20%;
    }
  }
}

.main-nav__item--current {
  @media (min-width: variables.$tablet-width) {
    a {
      color: variables.$menu-current-color;
    }
  }
}
