@use "../common/variables.scss";

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 33px 18px 33px;
  align-items: center;
  background-color: variables.$basic-white;

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 60px 36px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 36px 120px 36px;
  }
}

.main-footer__slogan {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: variables.$basic-black;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__social {
  margin-bottom: 30px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__copyright {
  min-width: 129px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &:hover,
  &:focus {
    outline: none;

    .main-footer__copyright-text {
      color: variables.$primary-hover-color;
    }

    .main-footer__copyright-logo {
      fill: variables.$primary-hover-color;
    }
  }

  &:active {
    outline: none;

    .main-footer__copyright-text {
      color: variables.$copyright-color-active;
    }

    .main-footer__copyright-logo {
      fill: variables.$copyright-color-active;
    }
  }
}

.main-footer__copyright-text {
  color: variables.$basic-black;
  text-transform: uppercase;
}
