@use "../common/mixins.scss";
@use "../common/variables.scss";

.main-nav {
  position: relative;
}

.main-nav__wrapper::after {
  @media (max-width: variables.$mobile-width-only) {
    content: "";
    position: absolute;
    width: 100%;
    height: 7px;
    left: 0;
    top: 216px;
    background: linear-gradient(180deg, transparentize(variables.$basic-black, 1) 0%, transparentize(variables.$basic-black, 0.8) 100%);
    mix-blend-mode: normal;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 35;
  display: block;
  width: 60px;
  height: 56px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.main-nav--closed {
  @media (max-width: variables.$mobile-width-only) {
    .main-nav__wrapper {
      display: none;
    }

    .main-nav__toggle {
      &::before {
        content: "";
        position: absolute;
        top: 17px;
        left: 17px;
        width: 23px;
        height: 4px;
        background-color: variables.$primary-color;
        box-shadow: 0 9px 0 0 variables.$primary-color, 0 18px 0 0 variables.$primary-color;
      }
    }
  }
}

.main-nav--open {
  .main-nav__wrapper {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 30;
  }

  .main-nav__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 25px;
      left: 17px;
      width: 25.9px;
      height: 5px;
      background-color: variables.$basic-white;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.main-nav--nojs {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    position: static;
    display: block;

    @media (max-width: variables.$mobile-width-only) {
      margin-top: 100px;
    }
  }
}

.main-nav__list {
  @include mixins.list-reset;
  box-sizing: border-box;
  text-align: center;
  background-color: variables.$primary-color;

  @media (min-width: variables.$tablet-width) {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.main-nav__item {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  width: 100%;
  //padding: 18px 0 12px;
  text-decoration: none;
  text-transform: uppercase;

  @media (max-width: variables.$mobile-width-only) {
    padding: 0;
    box-shadow: inset 0 -1px 0  transparentize(variables.$basic-black, 0.8), inset 0 1px 0 transparentize(variables.$basic-white, 0.8);
  }

  @media (min-width: variables.$tablet-width) {
    box-sizing: border-box;
    width: 20%;
    //padding: 19px 0 16px;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
  }

  a {
    color: variables.$basic-white;
    padding: 18px 0 12px;
    display: inline-block;
    width: 100%;

    @media (min-width: variables.$tablet-width) {
      color: variables.$basic-black;
      padding: 18px 0;
    }

    &:hover {
      @media (min-width: variables.$tablet-width) {
        outline: none;
        color: variables.$primary-color;
        background-color: transparent;
      }
    }

    &:focus,
    &:active {
      @media (min-width: variables.$tablet-width) {
        outline: none;
        color: transparentize(variables.$basic-black, 0.7);
        background-color: transparent;
      }
    }
  }

  &:nth-child(4n + 2) {
    @media (min-width: variables.$tablet-width) {
      margin-right: 20%;
    }
  }
}

.main-nav__item--current {
  @media (min-width: variables.$tablet-width) {
    a {
      color: variables.$menu-current-color;
    }
  }
}
