.map__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.map__photo {
  display: block;
  position: relative;
  height: 350px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}
