@use "../common/variables.scss";

.photo-card {
  @media (min-width: variables.$desktop-width) {
    position: relative;
  }
}

.photo-card__description {
  margin: 15px 0 0;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
    min-height: 80px;
  }

  @media (min-width: variables.$desktop-width) {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    color: variables.$basic-white;
    background-color: transparentize(variables.$basic-black, 0.7);
    padding: 0 20px 0 25px;
  }
}

.photo-card__description-wrapper {
  @media (min-width: variables.$tablet-width) {
    padding-top: 21px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 17px;
  }
}

.photo-card__title {
  margin: 0 0 1px;
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: variables.$desktop-width) {
    color: variables.$basic-white;
    margin: 0 0 5px;
  }
}

.photo-card__author {
  margin: 0 0 11px;
  color: variables.$text-gray;

  @media (min-width: variables.$tablet-width) {
    margin: 0;
  }

  @media (min-width: variables.$desktop-width) {
    color: variables.$basic-white;
  }
}

.photo-card__likes {
  padding: 0;
  border: 0;
  height: 25px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: end;
  cursor: pointer;

  @media (min-width: variables.$tablet-width) {
    margin-top: 27px;
  }

  @media (min-width: variables.$desktop-width) {
    color: variables.$basic-white;
    margin-top: 28px;
    opacity: 1;
  }
}

.photo-card__image {
  display: block;
  position: relative;
  height: 280px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;

  @media (min-width: variables.$tablet-width) {
    height: 266px;
  }
}

.photo-card--first {
  @media (min-width: variables.$tablet-width) {
    grid-column: 1/-1;
  }

  .photo-card__image {
    @media (min-width: variables.$tablet-width) {
      height: 400px;
    }
  }

  .photo-card__description-wrapper {
    @media (min-width: variables.$desktop-width) {
      padding-top: 22px;
    }
  }

  .photo-card__title {
    margin: 0 0 1px;
  }

  .photo-card__description {
    @media (min-width: variables.$desktop-width) {
      padding: 0 20px;
    }
  }
}
