@use "../common/variables.scss";

.photo-card__description {
  margin: 15px 0 0;
}

.photo-card__title {
  margin: 0 0 2px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.photo-card__author {
  margin: 0 0 11px;
  color: variables.$text-gray;
}

.photo-card__likes {
  padding: 0;
  border: 0;
  height: 25px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: end;
  cursor: pointer;
}
