@use "../common/variables.scss";

.services {
  padding: 32px 18px 12px;
  background-color: variables.$basic-white;
  display: grid;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.services__item {
  position: relative;
  padding: 0 0 33px 47px;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.services__item--house {
  @media (min-width: variables.$tablet-width) {
    padding: 158px 33px 61px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 169px 33px 61px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
    width: 40px;
    height: 40px;
    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    background-size: 40px 40px;

    @media (min-width: variables.$tablet-width) {
      left: 50%;
      transform: translateX(-50%);
      top: 58px;
      width: 77px;
      height: 73px;
      background-size: 77px 73px;
    }

    @media (min-width: variables.$desktop-width) {
      top: 69px;
      width: 88px;
      height: 73px;
      background-size: 88px 73px;
    }
  }
}

.services__item--burger {
  @media (min-width: variables.$tablet-width) {
    padding: 156px 33px 61px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 166px 33px 69px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
    width: 40px;
    height: 40px;
    background-image: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
    background-size: 40px 40px;

    @media (min-width: variables.$tablet-width) {
      left: 50%;
      transform: translateX(-50%);
      top: 58px;
      width: 80px;
      height: 73px;
      background-size: 80px 73px;
    }

    @media (min-width: variables.$desktop-width) {
      top: 72px;
      width: 74px;
      height: 70px;
      background-size: 74px 70px;
    }
  }

  .services__description {
    @media (min-width: variables.$tablet-width) {
      padding: 0 17px;
    }

    @media (min-width: variables.$desktop-width) {
      padding: 2px 17px;
    }
  }
}

.services__item--gift {
  @media (min-width: variables.$tablet-width) {
    padding: 153px 33px 61px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 169px 33px 61px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
    width: 40px;
    height: 40px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-size: 40px 40px;

    @media (min-width: variables.$tablet-width) {
      left: 50%;
      transform: translateX(-50%);
      top: 62px;
      width: 66px;
      height: 75px;
      background-size: 66px 75px;
    }

    @media (min-width: variables.$desktop-width) {
      top: 70px;
      width: 78px;
      height: 75px;
      background-image: url("../img/icon-gift-desktop.svg");
      background-size: 78px 75px;
    }
  }

  .services__description {
    @media (min-width: variables.$tablet-width) {
      padding: 0 8px;
    }

    @media (min-width: variables.$desktop-width) {
      padding: 0 15px;
    }
  }
}

.services__title {
  margin: 0 0 16px;
  text-align: left;
  color: variables.$basic-black;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media (min-width: variables.$tablet-width) {
    font-size: 21px;
    text-align: center;
    margin-bottom: 23px;
  }
}

.services__description {
  margin: 0;
  text-align: left;
  color: variables.$text-gray;

  @media (min-width: variables.$tablet-width) {
    text-align: center;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 15px;
  }
}
