@use "../common/variables.scss";
@use "../common/mixins.scss";

.social__list {
  @include mixins.list-reset;
  display: flex;
  min-width: 156px;
  justify-content: space-between;
}

.social__item {
  width: 48px;
  height: 48px;
  background-color: variables.$primary-color;
  display: flex;
  padding: 12px;
}

/*
.social__link {
  background-color: variables.$primary-color;
}

.social__link--vkontakte {
  background-image: url("../img/icon-vk.svg");
}*/
