@use "../common/variables.scss";
@use "../common/mixins.scss";

.social__list {
  @include mixins.list-reset;
  display: flex;
  min-width: 156px;
  justify-content: space-between;
}

.social__item {
  width: 48px;
  height: 48px;
  display: flex;
}

.social__link {
  padding: 12px;
  box-sizing: border-box;
  background-color: variables.$primary-color;

  &:hover,
  &:focus {
    background-color: variables.$primary-hover-color;
    outline: none;
  }

  &:active {
    background-color: variables.$primary-active-color;
    color: transparentize(variables.$basic-white, 0.7);
  }
}
