@use "../common/variables.scss";

.video {
  @media (max-width: variables.$mobile-width-only) {
    border-top: 1px solid variables.$darken-grey-color;
  }
}

.video__wrapper {
  @media (min-width: variables.$tablet-width) {
    padding: 55px 60px 40px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 60px 60px 84px;
  }
}

.video__text-block {
  padding: 18px 26px 38px;
  max-width: 445px;
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
    padding-bottom: 90px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-bottom: 87px;
  }

  .video__title {
    margin-bottom: 27px;

    @media (min-width: variables.$tablet-width) {
      font-size: 30px;
      line-height: 26px;
      margin-bottom: 31px;
    }

    @media (min-width: variables.$desktop-width) {
      margin-bottom: 32px;
    }
  }
}

.video__item {
  position: relative;
}

.video__img {
  margin: 0 auto;
  display: block;
  position: relative;
  height: 177px;
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
  object-fit: cover;

  @media (min-width: variables.$tablet-width) {
    height: 500px;
    padding: 0;
  }

  @media (min-width: variables.$desktop-width) {
    width: 800px;
    margin: 0 auto;
  }
}

.video__icon-play {
  position: absolute;
  padding: 0;
  top: 62px;
  left: 50%;
  transform: translateX(-50%);
  width: 48px;
  height: 54px;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-size: 48px 54px;
  background-color: transparent;
  border: none;

  @media (min-width: variables.$tablet-width) {
    top: 223px;
  }

  @media (min-width: variables.$desktop-width) {
    top: 223px;
  }
}
