@use "../common/variables.scss";

.video {
  border-top: 1px solid #e6e6e6;
}

.video__wrapper {
  @media (min-width: variables.$tablet-width) {
    padding: 52px 60px 40px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 56px 60px 82px;
  }
}

.video__text-block {
  padding: 0 26px;
  padding-top: 17px;
  padding-bottom: 38px;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
    padding-bottom: 90px;
    max-width: 445px;
    margin: 0 auto;
  }

  .video__title {
    margin-bottom: 27px;

    @media (min-width: variables.$tablet-width) {
      font-size: 30px;
      line-height: 26px;
      margin-bottom: 33px;
    }
  }
}

.video__item {
  position: relative;
}

.video__img {
  margin: 0 auto;
  display: block;
  position: relative;
  height: 177px;
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
  object-fit: cover;

  @media (min-width: variables.$tablet-width) {
    height: 500px;
    padding: 0;
  }

  @media (min-width: variables.$desktop-width) {
    width: 800px;
    margin: 0 auto;
  }
}

.video__icon-play {
  position: absolute;
  top: 85px;
  left: 159px;
}
